<div class="container">
  <h1>Welcome to Sessions!</h1>
  <p>Enter your username and password!</p>

  <form action="/login" method ="POST">
    <div class = "row">
      <label for="email">Your email</label>
       <input type="text" name="email" placeholder="your@email.com">
       </div>
       <div>

    <div class = "row">
      <label for="password">Your password</label>
       <input type="text" name="password" placeholder="password">
       </div>
       <div>
       <div class "row">
       <input id="submit button" type="Submit">
       </div> 
       </form> 
</div>
